{% load staticfiles %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <style>
        p_for_comment {
            border-left: 6px solid red;
            background-color: lightgrey;
        }
    </style>
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
{#    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>#}
    <link rel="stylesheet" href="{% static 'main/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'main/comments.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %} crowdsourcing {% endblock %}</title>
    {% load static %}
    {% load main_extras %}
{#    <!-- Bootstrap core CSS -->#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{##}
{#    <!-- javascripts -->#}
{#    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>#}
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{% comment %}{% endcomment %}
    {% include 'main/static-links.html' %}
    <!-- Custom styles for this template -->
    <link href="{% static 'main/account.css' %}" rel="stylesheet">
    <link href="{% static 'main/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">


    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</head>

<body>

<header>
    <!-- Fixed navbar -->

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a class="navbar-brand" href="#">Graduation System</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" >
            {% if not user.is_staff %}
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link {% is_active request 'designer' %}" href="{% url 'contact-view' %}" style="padding-right: 20px" >Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {% is_active request 'staff' %}" href="{% url 'student-view' %}" style="padding-right: 20px">Student view</a>
                </li>


{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="#">Disabled</a>#}
{#                </li>#}
            </ul>
            {% else %}
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link {% is_active request 'designer' %}" href="{% url 'contact-view' %}" style="padding-right: 20px" >Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {% is_active request 'designer' %}" href="{% url 'designer-view' %}" style="padding-right: 20px" >Designer</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {% is_active request 'staff' %}" href="{% url 'student-view' %}" style="padding-right: 20px">Student view</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link {% is_active request 'staff' %}" href="{% url 'staff-view' %}">Staff view</a>
                </li>

{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="#">Disabled</a>#}
{#                </li>#}
            </ul>
            {% endif %}

            <img style="height: 50px; margin-right: 28%" src={% static "pics/sharif_logo.png" %} alt="Flowers in Chania">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-left: 200px; color:#b9bbbe; ">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong style="color:#b9bbbe;">{{ user.get_username }}</strong>
                        <span class="glyphicon glyphicon-chevron-down" style=" visibility: hidden;"></span>
                    </a>
                    <ul class="dropdown-menu" >
                        <li>
                            <div class="navbar-login">
                                <div class="row">

                                    <div class="col-lg-4">
{#                                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">#}
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{user.get_username }}</strong></p>
                                        <p class="text-left small"></p>
                                        <p class="text-left">
                                            <a href="{% url 'account-view' %}" class="btn btn-primary btn-block btn-sm">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{% url 'logout' %}" class="btn btn-danger btn-block">log Out</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </li>
            </ul>
            <a class="navbar-brand" style="width: 5%"></a>
        </div>
    </nav>

</header>

<!-- Begin page content -->
<main role="main" class="container">
    <div style="height:20px"></div>
{#    <h1 class="mt-5">Sticky footer with fixed navbar</h1>#}
{#    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>#}
{#    <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>#}
    {% load bootstrap4 %}
    {% bootstrap_messages %}
    {% block content %}
        <a type="submit" class="btn btn-primary" href="{% url 'designer-view'%}"> Show Processes</a>
    {% endblock %}
</main>
{##}
{#<footer class="footer">#}
{#    <div class="container">#}
{#        <span class="text-muted">Place sticky footer content here.</span>#}
{#    </div>#}
{#</footer>#}
</body>
</html>
