{% extends 'main/base.html' %}

{% block title %} Process {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    {% load static %}
{#    <h1 class="mt-5">{{ form.as_p }}</h1>#}
{#    <p class="lead">Here you can see the details.</p>#}
    <h3 style="text-align: center; height: 10%; padding-bottom: 40px"> Graduation System</h3>
    <img style="height: 100px; padding-left: 46%; " src={% static "pics/sharif_logo.png" %} alt="Flowers in Chania">
    <h4 style="text-align: center"> Amir-Hossein Safari & Amir-Mohsen Ahanchi & Alireza Amani</h4>
    <h4 style="text-align: center"> Tel: +98 919 042 32 20</h4>
    <h4 style="text-align: center"> Email: Graduation_System@gmail.com</h4>
    <h4 style="text-align: center"> Address: Iran, Teharan, Azadi Ave, Sharif University of Technology</h4>
{% endblock %}