{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    This is deisgner page

{#    {% for Proc in Process %}#}
{#    <h2>#}
{#      <a href="{{ story.get_absolute_url }}">#}
{#        {{ story.headline|upper }}#}
{#      </a>#}
{#    </h2>#}
{#    <p>{{ story.tease|truncatewords:"100" }}</p>#}
{#    {% endfor %}#}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Num of tasks</th>
          <th scope="col">Nothing</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>

{% endblock %}

