{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    <h1 class="mt-5">Process list</h1>
    <p class="lead">Here you can see the Process list.</p>

    {% if not user.is_staff  %}
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Num of tasks</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
                {% for proc in processes %}
                    <tr>
                      <th scope="row">1</th>
                      <td> <a href="{% url 'process-view' proc.id %}">{{ proc.name }}</a></td>
                      <td>{{ proc.task_set.all|length }}</td>
                      <td><a href="{% url 'process-select' proc.id %}" type="button" class="btn btn-primary" > Select Process </a></td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
    {% else %}
         <a type="button" class="btn btn-primary" href="{% url 'process-add'%}">Add Process</a>

        <div style="height: 30px"></div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Num of tasks</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
                {% for proc in processes %}
                      <tr>
                          <th scope="row">1</th>
                          <td> <a href="{% url 'process-view' proc.id %}">{{ proc.name }}</a></td>
                          <td>{{ proc.task_set.all|length }}</td>
                      </tr>
                {% endfor %}
          </tbody>
        </table>
    {% endif %}

{% endblock %}
