{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}


    {% load bootstrap4 %}


    {% if not user.is_staff  %}
        {{ process_instance.process.name }}
        {{ process_instance.process.task_start.name }}
        {{ process_instance.process.task_end.name }}
    {% else %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <a type="submit" class="btn btn-secondary btn-lg btn-block" >Submit</a>
            {% endbuttons %}
        </form>
    {% endif %}


{#    <button type="button" class="btn btn-secondary btn-lg btn-block" >Submit</button>#}

    <div style="height: 30px"></div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Nothing</th>
        </tr>
      </thead>
      <tbody>
            {% for task in process_instance.process.task_set.all %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td> <a href="{% url 'task-instance-view' task.id %}">{{ task.name }}</a></td>
                  <td>{{ task.description }}</td>
                  <td>@mdo</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>




{#          <div style="margin-left: 20%">{% include "main/task-graph.html" %}</div>#}


    <h4> Current task : </h4>


    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Nothing</th>
        </tr>
      </thead>
      <tbody>
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td> <a href="{% url 'task-view' process_instance.current_task.task.id %}">{{ process_instance.current_task.task.name }}</a></td>
                  <td>{{ process_instance.current_task.task.description }}</td>
                  <td>{{ process_instance.current_task.task.id }}</td>
                </tr>
      </tbody>
    </table>


{#        <input type="hidden" id="page-no" value="1">#}
{#        <button id="load-content-button" class="btn btn-primary">دریافت اطلاعات بیشتر</button>#}
{#        #}


        {% if not user.is_staff  %}
            <div class="text-center">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% buttons %}
                        <input type="hidden" id="action" value="accept">
                        <button type="button" class="btn btn-success">accept</button>
                    {% endbuttons %}
                </form>
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% buttons %}
                        <input type="hidden" id="action" value="reject">
                        <button type="button" class="btn btn-danger">Failed</button>
                    {% endbuttons %}
                </form>
            </div>

        {% else %}
            <div class="text-center">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% buttons %}
                        <input type="hidden" id="action" value="accept">
                        <button type="button" class="btn btn-success">Done</button>
                    {% endbuttons %}
                </form>

            </div>
        {% endif %}




{% endblock %}
