{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/timeline.css' %}">

{% endblock %}

{% block script %}
{% endblock %}

{% block content %}


    {% load bootstrap4 %}



    <form action="" method="post" class="form h5 text-center mb-4">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
    </form>

{#    <button type="button" class="btn btn-secondary btn-lg btn-block" >Save</button>#}

    <div style="height: 30px"></div>
    <table class="table table-hover" style="border: 2px solid black; ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
            <th scope="col">End task</th>
            <th scope="col">Debt</th>
          <th scope="col">Status</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
            {% for task_instance in process_instance.taskinstance_set.all %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
{#                  <td> <a href="{% url 'task-instance-view' task_instance.id %}">{{ task_instance.task.name }}</a></td>#}
                    <td>{{ task_instance.task.name }}</td>
                  <td>{{ task_instance.task.description }}</td>
                    <td>{{ task_instance.task.end_task }}</td>
                    <td>{{ task_instance.task.debt }}</td>
                   <td>{{ task_instance.get_status_display }}</td>
                    <td><a href="{% url 'task-instance-view' task_instance.id %}"  data-toggle="tooltip" data-placement="top" title="Edit"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="tooltip" data-target="#edit" ><span class="fa fa-eye"></span></button></a></td>

                </tr>
            {% endfor %}
      </tbody>
    </table>




    <h4 style="text-align: center; padding-top: 50px;"> Current task : </h4>


    <table class="table table-hover" style="border: 2px solid black; ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
            <th scope="col">Debt</th>
            <th scope="col">Next task</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td> <a href="{% url 'task-instance-view' process_instance.current_task.id %}">{{ process_instance.current_task.task.name }}</a></td>
                  <td>{{ process_instance.current_task.task.description }}</td>
                    <td>{{ process_instance.current_task.task.debt }}</td>
                    <td>{{ process_instance.current_task.task.next_task_accept }}</td>
                  <td>{{ process_instance.current_task.task.id }}</td>
                </tr>
      </tbody>
    </table>


{#        <input type="hidden" id="age-no" value="1">#}
{#        <button id="load-content-button" class="btn btn-primary">دریافت اطلاعات بیشتر</button>#}
{#        #}


        {% if user.is_staff  %}
            {% if not process_instance.process_complete  %}

            <div class="text-center">
                <div style="padding-left:30%; width: 5%; float: left" >
                    <form action="" method="post" class="form" >
                    {% csrf_token %}
                    {% buttons %}
                        <input type="hidden" name="action" value="accept">
                        <button type="submit" class="btn btn-success">Accept</button>
                    {% endbuttons %}
                    </form>
                </div>

                <div style="padding-left: 5% ">
                <form action="" method="post" class="form" >
                    {% csrf_token %}
                    {% buttons %}
                        <input type="hidden" name="action" value="reject">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    {% endbuttons %}
                </form>
                </div>
            </div>
            {% endif %}
        {% endif %}
        {% if user.student %}
            {% if not process_instance.process_complete  %}

            <div class="text-center">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% buttons %}
                        <input type="hidden" name="action" value="student_done">
                        <button type="submit" class="btn btn-success">Done</button>
                    {% endbuttons %}
                </form>

            </div>
            {% endif %}
        {% endif %}


{#     {% include "main/student_view_timeline.html" %}#}



	<div class="row">
				<div class="col-md-12">

					<div class="page-header">

					</div>
					<div style="display:inline-block;width:100%;overflow-y:auto;">
					<ul class="timeline timeline-horizontal">
						{% for task in ordered_task %}
                            <li class="timeline-item">
                                <a href=  "{% url 'task-instance-view' task.id %}">,
							<div class="timeline-badge success">
                                <i class="fa fa-check"></i></div>
                                </a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{ task.task.name }}</h4>
									<p><small class="text-muted"><i class="fa fa-time"></i> Description: </small></p>
								</div>
								<div class="timeline-body">
									<p>{{ task.task.description }}</p>
								</div>
							</div>
						    </li>

                         {% endfor %}
                            {% if cur.status == 'accept'  %}
                            <li class="timeline-item">
                                <a href=  "{% url 'task-instance-view' process_instance.current_task.id %}">,
							<div class="timeline-badge success">
                                <i class="fa fa-search"></i></div>
                                  </a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{ cur.task.name }}</h4>
									<p><small class="text-muted"><i class="fa fa-time"></i> Description: </small></p>
								</div>
								<div class="timeline-body">
									<p>{{ cur.task.description }}</p>
								</div>
							</div>
						    </li>
                            {% endif %}
                            {% if cur.status != 'accept'  %}
                            <li class="timeline-item">
                                <a href=  "{% url 'task-instance-view' process_instance.current_task.id %}">,
							<div class="timeline-badge warning">
                                <i class="fa fa-search"></i></div>
                                </a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{ cur.task.name }}</h4>
									<p><small class="text-muted"><i class="fa fa-time"></i> Description: </small></p>
								</div>
								<div class="timeline-body">
									<p>{{ cur.task.description }}</p>
								</div>
							</div>
						    </li>
                            {% endif %}


                        {% for task in after %}
                            <li class="timeline-item">
                                <a href=  "{% url 'task-instance-view' task.id %}">,
							<div class="timeline-badge danger">
                                <i class="fa fa-remove"></i></div>
                                </a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{ task.task.name }}</h4>
									<p><small class="text-muted"><i class="fa fa-time"></i> Description: </small></p>
								</div>
								<div class="timeline-body">
									<p>{{ task.task.description }}</p>
								</div>
							</div>
						    </li>

                         {% endfor %}
					</ul>
				</div>
				</div>
			</div>

{% endblock %}
