{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/timeline.css' %}">

{% endblock %}

{% block script %}
{% endblock %}

{% block content %}


    {% load bootstrap4 %}



    <form action="" method="post" class="form h5 text-center mb-4">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
    </form>



{#    <button type="button" class="btn btn-secondary btn-lg btn-block" >Save</button>#}

    <div style="height: 30px"></div>
    <table class="table table-hover" style="border: 2px solid black; ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
            {% for task_instance in process_instance.taskinstance_set.all %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td> <a href="{% url 'task-instance-view' task_instance.id %}">{{ task_instance.task.name }}</a></td>
                  <td>{{ task.description }}</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>




{#          <div style="margin-left: 20%">{% include "main/task-graph.html" %}</div>#}


    <h4> Current task : </h4>


    <table class="table table-hover" style="border: 2px solid black; ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td> <a href="{% url 'task-instance-view' process_instance.current_task.id %}">{{ process_instance.current_task.task.name }}</a></td>
                  <td>{{ process_instance.current_task.task.description }}</td>
                  <td>{{ process_instance.current_task.task.id }}</td>
                </tr>
      </tbody>
    </table>


{#        <input type="hidden" id="page-no" value="1">#}
{#        <button id="load-content-button" class="btn btn-primary">دریافت اطلاعات بیشتر</button>#}
{#        #}


        {% if user.is_staff  %}
            <div class="text-center">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% buttons %}
                        <input type="hidden" name="action" value="accept">
                        <button type="submit" class="btn btn-success">Accept</button>
                    {% endbuttons %}
                </form>
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% buttons %}
                        <input type="hidden" name="action" value="reject">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    {% endbuttons %}
                </form>
            </div>
        {% endif %}
        {% if user.student %}
            <div class="text-center">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% buttons %}
                        <input type="hidden" name="action" value="student_done">
                        <button type="submit" class="btn btn-success">Done</button>
                    {% endbuttons %}
                </form>

            </div>
        {% endif %}


{#     {% include "main/student_view_timeline.html" %}#}



	<div class="row">
				<div class="col-md-12">

					<div class="page-header">

					</div>
					<div style="display:inline-block;width:100%;overflow-y:auto;">
					<ul class="timeline timeline-horizontal">
						{% for task in ordered_task %}
                            <li class="timeline-item">
                                <a href=  "{% url 'task-view' task.id %}">,
							<div class="timeline-badge success">
                                <i class="fa fa-check"></i></div>
                                </a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{ task.name }}</h4>
									<p><small class="text-muted"><i class="fa fa-time"></i> Description: </small></p>
								</div>
								<div class="timeline-body">
									<p>{{ task.description }}</p>
								</div>
							</div>
						    </li>

                         {% endfor %}
                            <li class="timeline-item">
                                <a href=  "{% url 'task-view' process_instance.current_task.task.id %}">,
							<div class="timeline-badge warning">
                                <i class="fa fa-search"></i></div>
                                </a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{ cur.name }}</h4>
									<p><small class="text-muted"><i class="fa fa-time"></i> Description: </small></p>
								</div>
								<div class="timeline-body">
									<p>{{ cur.description }}</p>
								</div>
							</div>
						    </li>

                        {% for task in after %}
                            <li class="timeline-item">
                                <a href=  "{% url 'task-view' task.id %}">,
							<div class="timeline-badge danger">
                                <i class="fa fa-remove"></i></div>
                                </a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{ task.name }}</h4>
									<p><small class="text-muted"><i class="fa fa-time"></i> Description: </small></p>
								</div>
								<div class="timeline-body">
									<p>{{ task.description }}</p>
								</div>
							</div>
						    </li>

                         {% endfor %}
					</ul>
				</div>
				</div>
			</div>

{% endblock %}
