{% extends 'main/base.html' %}

{% block title %} Process {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
{#    <h1 class="mt-5">{{ form.as_p }}</h1>#}
{#    <p class="lead">Here you can see the details.</p>#}
    {% load bootstrap4 %}

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <a type="submit" class="btn btn-secondary btn-lg btn-block" >Submit</a>
        {% endbuttons %}
    </form>
    <a type="submit" class="btn btn-secondary btn-lg btn-block" href="{% url 'task-add' process.id%}"> Add Task</a>

{#    <button type="button" class="btn btn-secondary btn-lg btn-block" >Submit</button>#}

    <div style="height: 30px"></div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Nothing</th>
        </tr>
      </thead>
      <tbody>
            {% for task in process.task_set.all %}
                <tr>
                  <th scope="row">1</th>
                  <td> <a href="{% url 'task-view' task.id %}">{{ task.name }}</a></td>
                  <td>{{ task.description }}</td>
                  <td>@mdo</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>

{% endblock %}