{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    <h1>Staff's tasks</h1>
    <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Process Name</th>
              <th scope="col">Task Name</th>
              <th scope="col"> Status</th>
                <th scope="col"> Student</th>
            </tr>
          </thead>
          <tbody>
                {% for task_instance in task_instances %}
                    <tr>
                    {{ task_instance.process_instance.id }}
                      <th scope="row">{{ forloop.counter }}</th>
                      <td> <a href="{% url 'process-instance-view' task_instance.process_instance.id %}">{{ task_instance.process_instance.process.name }}</a></td>
                      <td>{{ task_instance.task.name }}</td>
                      <td>{{ task_instance.get_status_display }}</td>
                      <td> <a style="color: #721c24;">{{ task_instance.process_instance.student }}</a></td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
{#    {% for task_instance in task_instances %}#}
{#        {{ task_instance.get_status_display }}#}
{#    {% endfor %}#}
{% endblock %}
