{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
        {% load staticfiles %}
    {% load static %}
    <h1 style="text-align: center">Welcome to Graduation System</h1>

    <h5 style="text-align: center " >Dear <span style="color: #ff0000">{{ student.user }}  </span> here is your processes:</h5>
    <table class="table table-hover" style="border: 2px solid black; ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Number of Tasks</th>
          <th scope="col"> State </th>
            <th scope="col"> Delete </th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

            {% for proc_instance in student.processinstance_set.all  %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
{#                    <td> <a href="{% url 'process-instance-view' proc_instance.id %}">{{ proc_instance.process.name }}</a></td>#}
                    <td> {{ proc_instance.process.name }}</td>
                    <td>{{ proc_instance.process.task_set.all|length }}</td>

                {% if proc_instance.process_complete %}
                    <td><span class="badge badge-success">Done</span></td>
                {% else %}
                    <td><span class="badge badge-info">Pending</span></td>
                {% endif %}
                 <td><a href="{% url 'process-instance-delete' proc_instance.id %}"  data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" > <span class="fa fa-trash"></span> </button></a></td>
{#                  <td> <a href="{% url 'process-instance-delete' proc_instance.id %}" >  <img style="height: 20px" src={% static "pics/Delete_icon.png" %}  alt="Delete"> </a></td>#}
                <td><a href="{% url 'process-instance-view' proc_instance.id %}"  data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="fa fa-eye"></span></button></a></td>
                </tr>

            {% endfor %}
      </tbody>
    </table>
{#    <a type="submit" class="btn btn-primary" href="{% url 'designer-view'%}"> Add Processes</a>#}

    <h3>Here you can select:</h3>



    <table class="table table-hover" style="border: 2px solid black; ">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Number of Tasks</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
                {% for proc in processes %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
{#                      <td> <a href="{% url 'process-view' proc.id %}">{{ proc.name }}</a></td>#}
                      <td> {{ proc.name }}</td>
                      <td>{{ proc.task_set.all|length }}</td>
                      <td><a href="{% url 'process-select' proc.id %}" type="button" class="btn btn-primary" > Select Process </a></td>
                    </tr>
                {% endfor %}
          </tbody>
    </table>
{% endblock %}
