{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    {% load bootstrap4 %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}

        </form>
     <link rel="stylesheet" type="text/css" href="">
    {% buttons %}
        {% if not task_instance.payment %}
            <a type="submit" class="btn btn-primary" href="{% url 'payment-new-view' task_instance.id %}">Pay debt</a>
        {% else %}
            <a type="submit" class="btn btn-info" href="{% url 'payment-view' task_instance.id %}">Payment info</a>
        {% endif %}
    {% endbuttons %}

    {% for comments in task_instance.comment_set.all %}

        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left image">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <a href="#"><b>{{ comments.user }}</b></a>
                                    made a post.
                                </div>
                                <h6 class="text-muted time">{{ comments.time }}</h6>
                            </div>
                        </div>
                        <div style="height: 50px"></div>
                        <div class="post-description">
                            <p>{{ comments.text }}</p>
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ coments.text }}
    {% endfor %}



    <form action="" method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleTextarea">Write here:</label>
                <textarea name="comment-text" class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            {% buttons %}
                <button type="submit" class="btn btn-primary">Post</button>
            {% endbuttons %}
    </form>
{% endblock %}
