{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

    {% load bootstrap4 %}
    <h4 style="text-align: center">{{ user.student }}</h4>

    {% if not user.is_staff  %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
{#            {% buttons %}#}
{#                <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>#}
{#            {% endbuttons %}#}
        </form>

    {% else %}

        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
            {% endbuttons %}
        </form>
    {% endif %}




{% endblock %}