{% extends 'main/base.html' %}

{% block title %} Designer {% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    {% load bootstrap4 %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}

        </form>
     <link rel="stylesheet" type="text/css" href="">

    {% for comments in task_instance.comment_set.all %}
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left image">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <a href="#"><b>{{ comments.user }}</b></a>
                                    made a post.
                                </div>
                                <h6 class="text-muted time">1 minute ago</h6>
                            </div>
                        </div>
                        <div class="post-description">
                            <p>{{ comments.text }}</p>
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ coments.text }}
    {% endfor %}








    <form action="" method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleTextarea">Write here:</label>
                <textarea name="comment-text" class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            {% buttons %}
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Post</button>
            {% endbuttons %}
    </form>
{% endblock %}
